/node_modules
/public/build
/public/hot
*.key
/logs
/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/framework/views
/framework/logs
/storage/framework/sessions
/storage/logs
/storage/framework/views
/storage/app/public/Curriculo.pdf
